<div class="container-fluid p-5">
    <form name="form" (ngSubmit)="onSubmit()">
        
        <div class="form-group" *ngIf="id == ''">
            <label for="id">ID</label>
            <input type="text" class="form-control" name="id" [(ngModel)]="vehicle.id"/>
    
        </div>

        <div class="form-group">
            <label for="firstName">First Name</label>
            <input type="text" class="form-control" name="firstName" [(ngModel)]="vehicle.firstName"/>
    
        </div>

        <div class="form-group">
            <label for="lastName">Last Name</label>
            <input type="text" class="form-control" name="lastName" [(ngModel)]="vehicle.lastName"/>
    
        </div>

        <div class="form-group">
            <label for="lastName">Email</label>
            <input type="email" class="form-control" name="email" [(ngModel)]="vehicle.email"/>
    
        </div>

        <div class="form-group">
            <label for="lastName">Car Make</label>
            <input type="text" class="form-control" name="carMake" [(ngModel)]="vehicle.carMake"/>
    
        </div>

        <div class="form-group">
            <label for="lastName">Car Model</label>
            <input type="text" class="form-control" name="carModel" [(ngModel)]="vehicle.carModel"/>
    
        </div>

        <div class="form-group">
            <label for="lastName">VIN Number</label>
            <input type="text" class="form-control" name="vinNumber" [(ngModel)]="vehicle.vinNumber"/>
    
        </div>

        <div class="form-group">
            <label for="lastName">Manufactured Date</label>
            <input type="text" class="form-control" name="manufacturedDate" [(ngModel)]="vehicle.manufacturedDate"/>
    
        </div>

        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
</div>
